node_modules/
.DS_Store
^.docthorrc.js
^docs/
^docthor/
^markdown/
^_draft

packages/core/.docthorrc.js
packages/core/docs/
packages/core/docthor/
packages/core/markdown/
packages/core/template/
packages/core/_draft